.app-container {
    background-color: rgb(104, 159, 142);
}

.content-container {
    display: flex;

}

h1 {
    text-align: center;
    background-color: rgb(243, 198, 151);
    padding-bottom: 5px;
}